.reviewCard {
    transition: all .4s ease;
    display: flex;
    max-width: 1000px;
    min-width: 800px;
    margin: 20px;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 10px rgba(0, 4, 255, 0.144);
    
  }

  #reviewCardTitleContainer{
    flex: 1;
  }
  #reviewCardBodyContainer {
    display: flex;
    flex: 1;
    padding: 5px;
  }
  #reviewDetailsContainer{
    flex:1;
    display: flex;
  }
  
  .reviewImgContainer {
    display: flex;
    align-items: center;
  }

  #reviewCardImg{
    height: 200px;
    min-height: 150px;
    border-radius: 20px;
  }
  #reviewCardTitle{
    flex: 1;
    text-align: center;

  }
  #reviewCardBody{
    flex: 1;
    background-color: rgba(195, 196, 230, 0.411);
    border-radius: 15px;
    padding: 5px;

  }
 
  
  .reviewCard:hover {
    transition: all .4s ease;
    padding: 20px;
    background: linear-gradient(90deg, rgba(255, 255, 0, 0.5) , rgba(0, 0, 250, 0) 1% 99%, rgba(255, 255, 0, 0.5)),
                linear-gradient(rgba(255, 255, 0, 0.493), rgba(62, 62, 255, 0) 5% 95%, rgba(255, 255, 0, 0.5));
  }
  