#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  display: grid;
}

section {
  border: 3px solid black;
  margin: 10px;
  
}

.header {
  position: sticky;
  top: 10px;
  width: 100%;
  background: linear-gradient(90deg, grey, black, grey);
  color: white;
}
.body {
  min-height: 100rem;
  margin-top: 10%;
  margin-bottom: 10rem;
  width: 100%;
  
}

.footer {
  position: sticky;
  bottom: 10px;
  width: 100%;
  background: linear-gradient(90deg, grey, black, grey);
  color: white;

}