#root {
  max-width: 1280px;
  min-width: 550px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
  border: 2px solid rgba(0, 0, 0, 0.452);
  margin: 10px;
}

.header {
  position: sticky;
  top: 10px;
  width: 100%;
  background: linear-gradient(90deg, black, rgba(255, 255, 0, 0.493), black 100%),
              linear-gradient( black, rgba(0, 81, 255, 0.521), black)
  ;
  color: white;
}
.body {
  min-height: 100rem;
  margin-top: 10%;
  margin-bottom: 10rem;
  width: 100%;
}

.footer {
  position: sticky;
  bottom: 10px;
  width: 100%;
  background: linear-gradient(90deg, grey, black, grey);
  color: white;

}

.link {
  text-decoration: none;
  color:black;
}

.date {
  font-size: 12px;
}
/*- ----- Review Card -----  -*/
#reviewCardImg{
  grid-area: pic;
  height: 200px;
  min-height: 150px;
  border-radius: 40px;
}
#reviewCardTitle{
  grid-area: title;
}
#reviewCardAuthor{
  grid-area: author;
}
#reviewCardBody{
  grid-area: body;
  border: 1px solid black;
  background-color: rgba(195, 196, 230, 0.616);
  border-radius: 20px;
  padding: 5px;
}

#intereactions{
  grid-area: intereactions;
}

.reviewCard {
  transition: all .4s ease;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "pic title . intereactions"
    "pic author . intereactions"
    "pic body body body";
  /* grid-auto-flow: row; */
  background: linear-gradient(90deg, yellow , rgba(0, 0, 250, 0) 1% 99%, yellow),
              linear-gradient(yellow, rgba(152, 152, 233, 0.466), rgba(0, 0, 255, 0.466) 5% 95%,rgba(152, 152, 233, 0.466), yellow);
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  column-gap: 20px;
  min-width: 550px;
}
.reviewCard:hover {
  transition: all .4s ease;
  margin: 10px 10px 10px 10px;
  background: linear-gradient(90deg, yellow , rgba(0, 0, 250, 0) 1% 99%, yellow),
              linear-gradient(yellow, rgba(152, 152, 233, 0.466), rgba(62, 62, 255, 0.466) 5% 95%,rgba(152, 152, 233, 0.466), yellow);
}

/* REVIEW PAGE */
/* --- Comment cards --- */

.commentCard{
  display: grid;
  grid-template-rows: 40px auto;
  grid-template-columns: 40% 40% 10% 10%;
  grid-template-areas: 
  "commentowner commentdate commentvotes votebuttons"
  "commentbody commentbody commentbody commentbody";
  
  background: linear-gradient(90deg, yellow , rgba(0, 0, 250, 0) 1% 99%, yellow),
  linear-gradient(yellow, rgba(152, 152, 233, 0.466), rgba(0, 0, 255, 0.384) 5% 95%,rgba(152, 152, 233, 0.466), yellow);
  border-radius: 20px;
  align-items:center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  
}
#commentbody {
  grid-area: commentbody;
  border-radius: 20px;
  text-align: left;
  padding: 5px;
  background-color: rgba(244, 244, 255, 0.384);
  
}
#commentowner {
  grid-area: commentowner;
  justify-content: right;
}
#commentdate {
  grid-area: commentdate;
}
#commentvotes {
  grid-area: commentvotes;
}


#votebuttons, #sharebt {
  grid-area: votebuttons;
  border-radius: 20px;
  width:30px;
  height: 40px;
  margin: 5px;
  background-color: rgba(92, 174, 250, 0.63);
}
.upvoteimg, #shareimg {
  width:10px;
}

#likebar {
  display: flex;
  justify-content: center;
  padding: 10px;
}